@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/avenir');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        /* font-family: 'Poppins', sans-serif; */
        font-family: 'Avenir', sans-serif;
    }
    .ck-editor__editable {
        min-height: 900px; /* Set the desired height */
    }
}
.pagination{
    color: black;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    gap: 15px;
}

.pagination .page-num{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}

.pagination .page-num:hover{
    background-color: #03989E;
    color: black;
}

.pagination .active{
    background-color: #03989E;
}